# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Generated Unit Test artifacts
*.log
*.test

# Executables
*.exe
*.out
*.app
.vscode/configurationCache.log
.vscode/dryrun.log
GnuTools/project/bin/
GnuTools/project/libs/
GnuTools/project/objs/
.vscode/settings.json
.vscode/targets.log

.DS_Store
.editorconfig
c_cpp_properties.json
extensions.json
settings.json